# demo = test local; pmu = vraies courses depuis le flux public officiel PMU, sans clé
HIPPOEDGE_PROVIDER=pmu
HIPPOEDGE_ENVIRONMENT=development
HIPPOEDGE_PMU_BASE_URL=https://online.turfinfo.api.pmu.fr/rest/client/1
HIPPOEDGE_LETROT_BASE_URL=https://www.letrot.com
HIPPOEDGE_FRANCE_GALOP_BASE_URL=https://www.france-galop.com
HIPPOEDGE_GENY_BASE_URL=https://www.geny.com
HIPPOEDGE_GENY_HISTORY_ENABLED=true
HIPPOEDGE_OFFICIAL_HISTORY_ENABLED=true
HIPPOEDGE_HISTORY_REQUEST_INTERVAL_SECONDS=0.35
HIPPOEDGE_HISTORY_MAX_ROWS=50
HIPPOEDGE_TURFBZH_API_KEY=
HIPPOEDGE_TURFBZH_BASE_URL=https://www.turf.bzh/api/v1
HIPPOEDGE_DATABASE_URL=sqlite:///./hippoedge.db
HIPPOEDGE_REFRESH_SECONDS=900
HIPPOEDGE_AUTO_LOCK_MINUTES_BEFORE=2
HIPPOEDGE_CORS_ORIGINS=*
